
    <form [formGroup]="addReviewForm" (ngSubmit)="onAddReviewSubmit()" novalidate>
      <div class="form-container form-group">  
        <mat-form-field style="width: 600px;" appearance="outline">
            <textarea id="review"
                   matInput rows="10"
                   formControlName="review"
                   placeholder="Enter your review" ></textarea>
          </mat-form-field>

        <br/>
          <button mat-button type="submit" 
                  id="submit"
                  class="mat-raised-button mat-primary" 
                  [disabled]="!addReviewForm.valid">Submit</button>
      </div>
    </form>
