<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div id="form-title" class="list-header-title">Register</div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" novalidate>
      <div class="form-container form-group">  
        <mat-form-field>
            <input id="username"
                   matInput
                   formControlName="username"
                   placeholder="Enter your username" />
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   placeholder="Enter your password"
                   [type]="hide ? 'password':'text'" />
          </mat-form-field>

          <mat-form-field>
            <input id="name"
                   matInput
                   formControlName="name"
                   placeholder="Enter your first name" />
          </mat-form-field>

          <mat-form-field>
            <input id="lastName"
                   matInput
                   formControlName="lastName"
                   placeholder="Enter your last name" />
          </mat-form-field>

          <mat-form-field>
            <input id="email"
                   matInput
                   formControlName="email"
                   placeholder="Enter your email" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select role</mat-label>
              <mat-select id="role"  formControlName="role">
                <mat-option value="0">Author</mat-option>
                    <mat-option value="1">Reviewer</mat-option>
                    <mat-option value="2">Editor</mat-option>
              </mat-select>
          </mat-form-field>

          <button mat-button type="submit" 
                  id="submit"
                  class="mat-raised-button mat-primary" 
                  >Register</button>
      </div>
    </form>
  </div>
</div>